<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goback()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="text-center" >
            Add Products
        </ion-title>
       
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-searchbar animated mode="ios" [(ngModel)]="searchQuery" (ionChange)="searchText(searchQuery)"></ion-searchbar> -->
    <div style="padding:20px;" >
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Products</ion-label>
            <ionic-selectable item-content [(ngModel)]="selectedProduct" itemTextField="name"
                (ngModelChange)="onSelectProduct();" [items]="searchList" [canSearch]="true"
                (onSearch)="searchText($event)" placeholder="Select Products">
            </ionic-selectable>
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Images upload</ion-label>
            <ion-input style="margin-top:20px;margin-bottom:10px;" type="file" (change)="uploadFile($event)"
                value="upload" name="filefield" multiple="multiple"></ion-input>
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Available on</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="currentDate"
                (ionChange)="changeProductAvailableDate(currentDate)"></ion-datetime>
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Expiry on</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="expiryDate"
                (ionChange)="changeProductAvailableDate(currentDate)"></ion-datetime>
        </ion-item>
        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Quantity</ion-label>
            <ion-input [(ngModel)]="quantity" type="number"></ion-input>
        </ion-item>

        <ion-item class="productItem">
            <ion-label position="stacked" class="productLabel">Cost per kg</ion-label>
            <ion-input [(ngModel)]="price" type="number"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col col-6 style="width: 70%;">
                <ion-item class="productItem">
                    <ion-label position="stacked" class="productLabel">Max Distance Cover:</ion-label>
                    <ion-input [(ngModel)]="maxdistance" type="number" placeholder="e.g 5 Kms"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item class="productItem">
                    <ion-label position="stacked" class="productLabel">Kilometers</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 style="width: 70%;">
                <ion-item class="productItem">
                    <ion-label position="stacked" class="productLabel">Expect Delivery products in Days:</ion-label>
                    <ion-input [(ngModel)]="expectdelivery" type="number" placeholder="e.g 2 Days"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item class="productItem">
                    <ion-label position="stacked" class="productLabel">Days</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding:10px;">
            <ion-button fill="clear" size="large" class="btn-primary" (click)="addProduct()">SAVE</ion-button>
        </ion-row>

    </div>
    </ion-content>