  .cart-icon {
    font-size: 38px;
  }
  .cart { 
    top: 0px;
    width: 50px;

    ion-fab-button {
      margin-top: 6px;
      width: 45px;
      height: 45px;
      float: right;
    }

  }
  .head-title { font-size: 17px;}
  .cart-length {
    position: absolute;
    top: 9px;
    left: 11px;
    font-weight: bold;
    font-size: 14px;
    min-width: 25px;
    z-index: 10;
    font-family: sans-serif;
  }

  .sell-crd {
    color: #000000;
    margin-top: 0;
  }
  .sell-pro .card-content-md {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .sell-pro .card-content-md ion-col, .sell-pro .sell-pro-row ion-col {
    margin: 0;
    padding: 0;
  }
  .sell-pro .pro-qty {
    display: inline-flex;
    border: 1px solid gray;
    padding-top: 5px;
    margin-top: 4px !important;
    border-radius: 3px;
    height: 36px;
    
    ion-icon {
      color: #000000;
    }
    ion-input { 
    
    }
    ion-button{
      padding: 0;
      margin: 0;
    }
  }
  .sell-pro .btn-primary {
     float: right;
  }
  
  .sell-pro .sell-pro-row .sell-rating{
    font-size: 15px;
    display: inline-block;
    float: right;
    color: #FF0000;
  }
  

.sell-pro .sell-crd{
  -webkit-box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
    -moz-box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
    box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
    background-color: white;
}
.sell-pro .seller-name {
  font-weight: bold;
}
.sell-pro .dist ion-icon{
  font-size: 20px;
  margin-right: 10px;
}
.sell-pro .prd-price{
  float: right;
} 
.sell-pro .dist span {
  position: relative;
  top: -5px;
}

// Filter and Sort
.sort-filter{
  ion-row{
    width: 100%;

    ion-col{
      text-align: center;
    }
  }
}
