<ion-menu side="start" menuId="second">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menuTitle">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let item of categoryList">
      <ion-item class="menuItem">Cherry</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-fab class="cart" vertical="top" horizontal="end" slot="end">
      <ion-fab-button [disabled]="openCartDisabled" (click)="openCart()" fill="clear" color="danger" #cart>
        <div class="cart-length">5</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-title class="text-center head-title">
     Cherry
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="sell-pro">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar animated mode="ios" [(ngModel)]="searchQuery" (ionChange)="searchText(searchQuery)"></ion-searchbar>
  <ion-list class="sort-filter">
    <ion-item lines="none" mode="ios">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-label>
            <ion-icon name="funnel">
              <ion-select [(ngModel)]="sortbyPrice" (ionChange)="sort();" placeholder="Sort By">
                <ion-select-option [value]="Low" value="Low">Show Low to High Price</ion-select-option>
                <ion-select-option [value]="High" value="High">Show High to Low Price</ion-select-option>
                <ion-select-option [value]="High" value="High">Seller Name</ion-select-option>
              </ion-select>
            </ion-icon> Sort
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <ion-icon name="arrow-round-down">
              <ion-fab-button (click)="filterAlert()">
                <ion-label class="productLabel">Price Range</ion-label>
                <ion-input [(ngModel)]="minPrice"></ion-input>
                <ion-input [(ngModel)]="maxPrice"></ion-input>
              </ion-fab-button>
            </ion-icon> Filter
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-row class="sell-pro-row">
      <ion-col size="12" *ngFor="let item of searchList; let i = index; trackBy:trackByFn">
        <ion-card class="sell-crd">
          <ion-card-content>
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-item lines="none" mode="ios">
                  <ion-thumbnail slot="start" style="height:75px;width:75px;">
                    <img src="../../assets/products/vegetables/{{item.name}}.jpg" style="border-radius:50%;">
                  </ion-thumbnail>
                </ion-item>
              </ion-col>
              <ion-col size="8">
                <ion-row>
                  <ion-col size="8">
                    <p class="seller-name">Seller: {{item.firstName}}</p>
                  </ion-col>
                  <ion-col size="4">
                    <p class="prd-price"> <b>₹ {{item.price}}/Kg</b> </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="dist" size="6">
                    <ion-icon name="locate"></ion-icon><span>{{item.distance}} Kms</span>
                  </ion-col>
                  <ion-col size="6">
                    <div class="sell-rating">
                      {{item.rating}}<ion-icon name="star"></ion-icon> ({{item.numberOfRatings}})
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="7" class="pro-qty">
                    <ion-button fill="clear" (click)="changeQty(item, i, -1)">
                      <ion-icon name="md-remove"></ion-icon>
                    </ion-button>
                    <ion-input type="number" value="{{item.quantity}}" (change)="onChangeQty($event,item)"></ion-input>

                    <ion-button fill="clear" (click)="changeQty(item, i, 1)">
                      <ion-icon name="md-add"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="5">
                    <ion-button class="btn-primary" fill="clear" *ngIf="item.quantity>0" [disabled]="item.addToCartDisabled" (click)="addToCart(item)">Add
                    </ion-button>
                  </ion-col>
                  <br />
                  <ion-col size="12">
                    <p class="seller-name">Expected Delivery In: 2 Days</p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="--background:#3453c4">
      <ion-icon name="ios-funnel"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="filterAlert()">
        <ion-icon name="ios-funnel"></ion-icon>
        <ion-label class="productLabel">Price Range</ion-label>
        <ion-input [(ngModel)]="minPrice"></ion-input>
        <ion-input [(ngModel)]="maxPrice"></ion-input>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="funnel"></ion-icon>
        <ion-select [(ngModel)]="sortbyPrice" (ionChange)="sort();" placeholder="Sort By">
          <ion-select-option [value]="Low" value="Low">Show Low to High Price</ion-select-option>
          <ion-select-option [value]="High" value="High">Show High to Low Price</ion-select-option>
          <ion-select-option [value]="High" value="High">Seller Name</ion-select-option>
        </ion-select>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>