.ellipsisText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.product-card.sc-ion-card-md-h {
    -webkit-box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
    -moz-box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);
    box-shadow: 1px 1px 40px -28px rgba(252,13,13,1);

}
.product-card .card-content-md {
    padding-left: 0;
    padding-right: 0;
    color: black;
}
.product .product-card {
    background-color: white;
    margin-top: 0px;
}
.product .card-content-md ion-col, .product ion-col {
    margin: 0;
    padding: 0;
}
.product .product-card ion-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
}
ion-label { 
    font-weight: bold;
}
.btn-primary{
    width: 94%;
    height: 30px;   
}