<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar class="menuHeader">
      <ion-title class="menuTitle">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">
      Address List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="all-prod-list">
  <ion-button size="medium" fill="clear" class="btn-primary" (click)="addNewAddress()" round><span>ADD NEW
      ADDRESS</span>
  </ion-button>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" mode="ios">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="address-list">
    <ion-row class="mr-10">
      <ion-col class="product-col" size="12" *ngFor="let item of searchList">
        <ion-card class="address-card">
          <ion-card-content>
            <ion-row>
              <ion-item-divider>
                <ion-col size="5">
                  <ion-label class="ellipsisText">{{item.addressType}}</ion-label>
                </ion-col>
                <ion-col size="5">
                  <ion-chip>
                    <ion-label color="primary">{{item.isDefault}}</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col size="2">
                  <ion-icon class="edit-icon" name="create"></ion-icon>
                </ion-col>
              </ion-item-divider>
            </ion-row>
            <ion-item lines="none">
              <ion-row>
                <ion-col size="12">
                  {{item.addressLine1}} , {{item.addressLine2}}
                </ion-col>
                <ion-col size="12">
                  {{item.city}} , {{item.start}}
                </ion-col>
                <ion-col size="12">
                  {{item.country}} , {{item.zip}}
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>